@model dynamic

@{
    Layout = null;
}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike - Just Do It</title>
    <link rel="stylesheet" href="~/Shoes-Website/css/main.css" />
    <link rel="shortcut icon" href="~/Shoes-Website/image/logo.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

<!--Review-->

    <div class="review" id="Review">
      <h1>Customer's<span>review</span></h1>

      <div class="review_box">
        <div class="review_card">
          <div class="card_top">
            <div class="profile">
              <div class="profile_image">
                <img src="~/Shoes-Website/image/girl_dp1.jpg" />
              </div>

              <div class="name">
                <strong>Ranidi Lochana</strong>

                <div class="like">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
              amet nesciunt voluptatem cum architecto ipsum vero nulla
              voluptatibus dolorum modi assumenda eum? Aliquid inventore velit
              ipsa repellat numquam atque dolores!
            </p>
          </div>
        </div>

        <div class="review_card">
          <div class="card_top">
            <div class="profile">
              <div class="profile_image">
                <img src="~/Shoes-Website/image/man_dp1.jpg" />
              </div>

              <div class="name">
                <strong>Sayuru Tharanga</strong>

                <div class="like">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
              amet nesciunt voluptatem cum architecto ipsum vero nulla
              voluptatibus dolorum modi assumenda eum? Aliquid inventore velit
              ipsa repellat numquam atque dolores!
            </p>
          </div>
        </div>

        <div class="review_card">
          <div class="card_top">
            <div class="profile">
              <div class="profile_image">
                <img src="~/Shoes-Website/image/man_dp2.jpg" />
              </div>

              <div class="name">
                <strong>Senuda Dilwan</strong>

                <div class="like">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
              amet nesciunt voluptatem cum architecto ipsum vero nulla
              voluptatibus dolorum modi assumenda eum? Aliquid inventore velit
              ipsa repellat numquam atque dolores!
            </p>
          </div>
        </div>
      </div>

      <div class="review_box">
        <div class="review_card">
          <div class="card_top">
            <div class="profile">
              <div class="profile_image">
                <img src="~/Shoes-Website/image/gir_dp3.jpg" />
              </div>

              <div class="name">
                <strong>Kaveesha Vidurangi</strong>

                <div class="like">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
              amet nesciunt voluptatem cum architecto ipsum vero nulla
              voluptatibus dolorum modi assumenda eum? Aliquid inventore velit
              ipsa repellat numquam atque dolores!
            </p>
          </div>
        </div>

        <div class="review_card">
          <div class="card_top">
            <div class="profile">
              <div class="profile_image">
                <img src="~/Shoes-Website/image/gir_dp2.jpg" />
              </div>

              <div class="name">
                <strong>John Deo</strong>

                <div class="like">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
              amet nesciunt voluptatem cum architecto ipsum vero nulla
              voluptatibus dolorum modi assumenda eum? Aliquid inventore velit
              ipsa repellat numquam atque dolores!
            </p>
          </div>
        </div>

        <div class="review_card">
          <div class="card_top">
            <div class="profile">
              <div class="profile_image">
                <img src="~/Shoes-Website/image/man_dp3.jpg" />
              </div>

              <div class="name">
                <strong>Charith Aruna</strong>

                <div class="like">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
              amet nesciunt voluptatem cum architecto ipsum vero nulla
              voluptatibus dolorum modi assumenda eum? Aliquid inventore velit
              ipsa repellat numquam atque dolores!
            </p>
          </div>
        </div>
      </div>
    </div>
