@model List<Customers>

<!--Review-->

    <div class="review" id="Review">
      <h1>Customer's<span>review</span></h1>
      
      <div class="review_box">
        @foreach (var item in Model)
        {
          <div class="review_card">
            <div class="card_top">
              <div class="profile">
                <div class="profile_image">
                  <img src="@item.CustomersImage"/>
                </div>

                <div class="name">
                  <strong>@item.CustomersTitle</strong>

                  <div class="like">
                   @item.CustomersStar
                  </div>
                </div>
              </div>
            </div>
            <div class="comment">
              <p>
                @item.CustomersDescription
              </p>
            </div>
          </div>
        }
      </div>
    </div>
