@model List<Services>


@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}



<!--Services-->

<div class="services" id="Servises">
  <h1>our<span>services</span></h1>

  <div class="services_cards">
    @foreach (var item in Model)
    {  
      <div class="services_box">
         <i class="fa-solid @item.ServicesIcon"></i>
         <h3>@item.ServicesTitle</h3>
         <p>@item.ServicesDescription</p>
       </div>
    }
  </div>
</div>

